@model IEnumerable<Carro>
@using JitCars.Enums

@{
    ViewData["Title"] = "Carros - Estoque";
}

<style>
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

<div class="d-flex justify-content-center p-4 flex-row w-100">
    <div class="flex align-content-center justify-content-center" style="min-width: 90%;">
        <h1>@ViewData["Title"]</h1>

        <p>Veja aqui o estoque da concessionária</p>

        
        <form asp-controller="Carro" asp-action="Index" method="get">
            <label class="mb-3" for="cor">Escolha uma cor:</label>
            <select name="cor" id="cor">
                <option value="">Todas as Cores</option>
                @foreach (var cor in ViewBag.cores)
                {
                    <option value="@cor">@cor</option>
                }
            </select>
            <button type="submit">Filtrar por cor</button>
        </form>

        <form asp-controller="Carro" asp-action="Index" method="get">
            <label class="mb-3" for="carroceria">Escolha uma carroceria:</label>
            <select name="carroceria" id="carroceria">
                <option value="">Todas as Carrocerias</option>
                @foreach (var carroceria in ViewBag.carroceria)
                   {
                     <option value="@carroceria">@carroceria</option>
                   }
                
            </select>
            <button type="submit">Filtrar por carroceria</button>
        </form>

       
        <a class="btn btn-primary mb-3 mr-auto" asp-controller="Carro" asp-action="Cadastrar">
            <i class="bi bi-plus"></i>&nbsp;Adicionar carro ao estoque
        </a>
        <a class="btn btn-secondary mb-3" asp-controller="Modelo" asp-action="Index">
            <i class="bi bi-eye"></i>&nbsp;Ver modelos cadastrados
        </a>


        @if (Model.Count() == 0)
        {
            <div class="d-flex align-items-center justify-content-center border" style="height:200px">
                <h2 class="text-danger">Não há veículos no estoque.</h2>
            </div>
        }
        else
        {
            <ul class="d-flex gap-3 flex-wrap">
                @foreach (var carro in Model)
                {
                    <li>
                        <div class="card shadow-lg" style="width: 20rem;">
                            @{
                                var temFoto = @carro.Modelo.ImagemUrl != null;
                                var nomeVeiculo = @carro.Modelo.Marca + " " + @carro.Modelo.Nome;
                                var alt = temFoto ? "Imagem do " + nomeVeiculo : "";
                            }
                            <img style="height: 180px; object-fit: cover;" class="card-img-top" src="@carro.Modelo.ImagemUrl" alt="@alt">
                            @if (!temFoto)
                            {
                                <p class="text-danger text-center">
                                    Esse modelo não possui imagem salva
                                </p>
                            }
                            <div class="card-body justify-content-left">
                                <h5 class="card-title">@nomeVeiculo</h5>
                                <ul class="mb-2">
                                    <li><strong>Cor: </strong>@Enum.GetName(typeof(Cor), @carro.Cor)</li>
                                    <li><strong>Carroceria:</strong> @Enum.GetName(typeof(Carroceria), @carro.Modelo.Carroceria)</li>
                                    <span style="color: green; font-size: 2em"><strong> @carro.PrecoVenda.ToString("C")</strong></span>

                                </ul>
                                <a asp-action="Atualizar" asp-controller="Carro" asp-route-id="@carro.Id" class="btn btn-primary"><i class="bi bi-info-circle"></i>&nbsp; Mais informações</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
