@using JitCars.Enums
@using System.ComponentModel.DataAnnotations
@model Venda

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Editar Venda</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="ClienteId"></label>
			<div class="d-flex gap-2">
				<input onkeyup="exibeClientes()" id="input-cliente" type="text" class="form-control mb-1"
					   style="width: 30%;" autocomplete="off" />
				<i style="font-size: 1.5em; color: #777777" class="bi bi-funnel"></i>
			</div>
			<select asp-for="ClienteId" class="form-select">
				<option value="" selected disabled>Selecione um cliente</option>
				@foreach (var cliente in ViewBag.clientes)
				{
					<option data-cpf="@cliente.Cpf" class="cliente-opcao" value="@cliente.Id">@cliente.PrimeiroNome
						@cliente.Sobrenome - @cliente.Cpf</option>
				}
			</select>
			<span asp-validation-for="ClienteId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="FormaPagamento"></label>
			<select asp-for="FormaPagamento" class="form-select">
				<option value="" selected disabled>Selecione uma forma de pagamento</option>
				@foreach (var pagamento in ViewBag.pagamentos)
				{
					<option value="@pagamento">@GetEnumDisplayName((FormaPagamento)pagamento)</option>
				}
			</select>
			<span asp-validation-for="FormaPagamento" class="text-danger"></span>
		</div> 
		<div class="mb-3">
			<label asp-for="FuncionarioId"></label>
			<select asp-for="FuncionarioId" class="form-select">
				<option value="" selected disabled>Selecione um funcionário</option>
				@foreach (var funcionario in ViewBag.funcionarios)
				{
					var nomeFuncionario = funcionario.PrimeiroNome + " " + funcionario.Sobrenome;
					<option value="@funcionario.Id">@nomeFuncionario</option>
				}
			</select>
			<span asp-validation-for="FuncionarioId" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Atualizar</button>
		<a asp-controller="Venda" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Voltar
		</a>
	</div>

</form>


@functions {
	public static string GetEnumDisplayName(FormaPagamento forma)
	{
		var display = typeof(FormaPagamento).GetField(forma.ToString())
		.GetCustomAttributes(typeof(DisplayAttribute), false).SingleOrDefault() as DisplayAttribute;


		return display != null ? display.Name : forma.ToString();
	}
}