@model Venda

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Registrar Venda</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="ClienteId"></label>
			<input onkeyup="exibeClientes()" id="input-cliente" type="text" class="form-control mb-2" style="width: 30%;"  />
			<select asp-for="ClienteId" class="form-select">
				<option value="" selected disabled>Selecione um cliente</option>
				@foreach (var cliente in ViewBag.clientes) {
					<option data-cpf="@cliente.Cpf" class="cliente-opcao" value="@cliente.Id">@cliente.PrimeiroNome @cliente.Sobrenome - @cliente.Cpf</option>
				}
			</select>
			<span asp-validation-for="ClienteId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="FormaPagamento"></label>
			<input asp-for="FormaPagamento" class="form-control" />
			<span asp-validation-for="FormaPagamento" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="NotaFiscal"></label>
			<input asp-for="NotaFiscal" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Confirmar</button>
		<a asp-controller="Venda" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Voltar
		</a>
	</div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

	<script>
		function exibeClientes() {
			let input = document.querySelector('#input-cliente');
			let opcoes = document.querySelectorAll('.cliente-opcao');

			opcoes.forEach((opcao) => {
				if (!opcao.dataset.cpf.includes(input.value)) {
					opcao.style.display = "none";
				} else {
					opcao.style.display = "block";
				}
			});
		}
	</script>
}