
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="financeiro.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <style>
        .titulo_tabela {
            font-size: 25px;
            text-align: center;
            background-color: #212529;
            color: #FFFFFF;
            width: 100%;
            border-botton: 2px solid #FFFFFF;
        }

        hr {
            border: none; /* Remove a borda padrão */
            border-bottom: 2px solid white; /* Adiciona uma linha preta */
            margin: 0; /* Remove margem para evitar espaço extra */
        }
    </style>
</head>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <h1>Financeiro</h1>
    </div>

    <div style="margin-top:5%"></div>


    <table class="table table-dark table-hover mb-5" style="width:100%">
            <header class="titulo_tabela">
                <span>Vendas</span>
                <hr />
            </header>
            <thead>
                <tr>
                @if (ViewBag.Carros.Count > 0)
                {
                    <th scope="col">#</th>
                    <th scope="col">Carro</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Valor</th>
                    <th scope="col">
                    @using (Html.BeginForm("Index", "Financeiro", FormMethod.Get))
                    {
                        @Html.DropDownList("dataSelecionada", ViewData["data"] as SelectList, "Selecione uma data", new {@class = "form-control", onchange = "this.form.submit();"})
                    }

                          
                    </th>
                }
                else
                {
                    <th class="d-flex align-items-center justify-content-center border" style="height:100px">
                        <h2 class="text-danger">Nenhuma venda foi realizada.</h2>
                    </th>
                    <th scope="col">
                        @using (Html.BeginForm("Index", "Financeiro", FormMethod.Get))
                        {
                            @Html.DropDownList("dataSelecionada", ViewData["data"] as SelectList, "Selecione uma data", new { @class = "form-control", onchange = "this.form.submit();" })
                        }


                    </th>
                }

                </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
                if (ViewBag.Carros.Count > 0)
                {
                    foreach(var obj in ViewBag.Carros){
                        if (obj.VendaId != null){
                            if (obj.Venda.Status != 0)
                            {
                               i++;

                             var nomeCliente = obj.Venda.Cliente.PrimeiroNome + " " + obj.Venda.Cliente.Sobrenome ;                                             
                            <tr>
                                      <th scope="row" >@i</th>                         
                                      <td>@obj.Modelo.Nome</td>
                                      <td>@obj.Modelo.Marca</td>
                                      <td>@nomeCliente</td>                           
                                      <td style="color:lawngreen">R$@obj.PrecoVenda</td>
                                      <td>@obj.Venda.Data</td>
                            </tr> 
                            }
                            

                        }
                    }
                }
            }
            </tbody>            
        </table>

    <table class="table table-dark table-hover mb-5" style="width:100%">
        <header class="titulo_tabela">
                <span>Lucro</span>
                <hr />
            </header>
            <thead>
                <tr>
                @if(ViewBag.Carros.Count > 0)
                {
                    <th scope="col">#</th>
                    <th scope="col">Custo</th>
                    <th scope="col">Valor da Venda</th>
                    <th scope="col">Lucro</th>
                    <th scope="col">Data</th>
                }
                else
                {
                    <div class="d-flex align-items-center justify-content-center border" style="height:100px">
                        <h2 class="text-danger">Nenhuma venda foi realizada.</h2>
                    </div>
                }


                </tr>
            </thead>
        <tbody>
            @{
                i = 0;
                decimal lucro_total = 0;
                if (ViewBag.Carros.Count > 0)
                {                   
                    foreach (var carro in ViewBag.Carros)
                    {
                        if (carro.VendaId != null)
                        {
                            if (carro.Venda.Status != 0){
                                i++;
                                var lucro = carro.PrecoVenda - carro.PrecoCusto;
                                lucro_total = lucro_total + lucro;

                                 <tr>
                                      <th scope="row">@i</th>
                                       <td>R$@carro.PrecoCusto</td>
                                       <td>R$@carro.PrecoVenda</td>
                                       <td style="color:lawngreen">R$@lucro</td>
                                       <td>@carro.Venda.Data</td>
                                 </tr>
                            }
                      
                          
                        
                        }                    
                    }
                    <tr>
                        <th scope="col" style="text-align: center"> Lucro Total</th> 
                    </tr>
                    <tr style="text-align:center">
                        <td style="color:lawngreen">R$@lucro_total</td>
                    </tr>
                }
              
            }

        </tbody>

    </table>

    <table class="table table-dark table-hover pb-5" style="width:100%">
        <header class="titulo_tabela">
            <span>Relatório dos Funcionários</span>
            <hr />
        </header>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Total de Vendas</th>
                <th scope="col">Total Faturado</th>
            </tr>
        </thead>
        <tbody>
            @{
                var listaFuncionarios = new List<List<string>>();

                i = 1;
                var j = 0;
                if (ViewBag.Funcionarios != null)
                {
                    if (ViewBag.Vendas != null)
                    {
                        foreach (var func in ViewBag.Funcionarios)
                        {
                            var funcionario = new List<string>();
                            funcionario.Add("");
                            funcionario.Add("0");
                            funcionario.Add("0");
                            var nomeCompleto = func.PrimeiroNome + " " + func.Sobrenome;
                            funcionario[0] = nomeCompleto;

                            foreach (var venda in ViewBag.Vendas)
                            {
                                if (venda.FuncionarioId == func.Id)
                                {
                                    if (ViewBag.Carros.Count > 0 && venda.Status != 0)
                                    {
                                        funcionario[1] = (Convert.ToInt32(funcionario[1]) + 1).ToString();  
                                    }                                    
                                    decimal total_faturado = 0;
                                    if (ViewBag.Carros != null)
                                    {
                                        foreach (var carro in ViewBag.Carros)
                                        {
                                            if (carro.VendaId == venda.Id && carro.Venda.Status != 0)
                                                {
                                                total_faturado = total_faturado + (carro.PrecoVenda - carro.PrecoCusto);
                                            }

                                        }
                                    }
                                    funcionario[2] = (Convert.ToDecimal(funcionario[2]) + total_faturado).ToString();
                                }
                                
                            }                            
                            listaFuncionarios.Add(funcionario);
                        }
                    }
                     else
                     {
                         <div class="d-flex align-items-center justify-content-center border" style="height:200px">
                             <h2 class="text-danger">Nenhuma venda foi realizada.</h2>
                         </div>
                     }
                }
                else
                {
                    <h3>Nenhum funcionário cadastrado</h3>
                }
                    @foreach(var funcionario in listaFuncionarios)
                        {
                            i++;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@funcionario[0]</td>
                                <td>@funcionario[1]</td>
                                <td style ="color:lawngreen">R$@funcionario[2]</td>
                            </tr>
                            j++;
                        }
                    }
                    
                
 
            </tbody>
        </table>
</div>


