
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="financeiro.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <style>
        .titulo_tabela {
            font-size: 25px;
            text-align: center;
            background-color: #212529;
            color: #FFFFFF;
            width: 75%;
            border-botton: 2px solid #FFFFFF;
        }

        hr {
            border: none; /* Remove a borda padrão */
            border-bottom: 2px solid white; /* Adiciona uma linha preta */
            margin: 0; /* Remove margem para evitar espaço extra */
        }
    </style>
</head>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Financeiro</h1>
    </div>

    <div style="margin-top:5%"></div>


    <table class="table table-dark table-hover mb-5" style="width:75%">
            <header class="titulo_tabela">
                <span>Vendas</span>
                <hr />
            </header>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Carro</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Valor</th>
                    <th scope="col">
                    @using (Html.BeginForm("Index", "Financeiro", FormMethod.Get))
                    {
                        @Html.DropDownList("dataSelecionada", ViewData["data"] as SelectList, "Selecione uma data", new {@class = "form-control", onchange = "this.form.submit();"})
                    }

                          
                    </th>
                </tr>
            </thead>
        <tbody>
            @{
                var i = 0;
                if (ViewBag.Carros != null)
                {
                    @foreach(var obj in ViewBag.Carros){
                             @if (obj.VendaId != null){
                        i++;

                             var nomeCliente = obj.Venda.Cliente.PrimeiroNome + " " + obj.Venda.Cliente.Sobrenome ;                                             
                            <tr>
                                      <th scope="row" >@i</th>                         
                                      <td>@obj.Modelo.Nome</td>
                                      <td>@obj.Modelo.Marca</td>
                                      <td>@nomeCliente</td>                           
                                      <td style="color:lawngreen">R$@obj.PrecoVenda</td>
                                      <td>@obj.Venda.Data</td>
                            </tr>
                      
                                  }                          
                    }
                }
                else
                {
                    <td style="width:100%">Nenhum carro foi vendido</td>
                }

                    }
                  
            
            </tbody>            
        </table>

    <table class="table table-dark table-hover mb-5" style="width:75%">
        <header class="titulo_tabela">
                <span>Lucro</span>
                <hr />
            </header>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Custo</th>
                    <th scope="col">Valor da Venda</th>
                    <th scope="col">Lucro</th>
                    <th scope="col">Data</th>

                </tr>
            </thead>
        <tbody>
            @{
                i = 0;
                decimal lucro_total = 0;
                if (ViewBag.Carros != null)
                {
                    @foreach (var carro in ViewBag.Carros)
                    {
                        @if (carro.VendaId != null)
                        {
                      
                          i++;
                        var lucro = carro.PrecoVenda - carro.PrecoCusto;
                        lucro_total = lucro_total + lucro;

                            <tr>
                              <th scope="row">@i</th>
                                  <td>R$@carro.PrecoCusto</td>
                                  <td>R$@carro.PrecoVenda</td>
                                  <td style="color:lawngreen">R$@lucro</td>
                                  <td>@carro.Venda.Data</td>
                            </tr>
                        
                        }                    
                    }
                    <tr>
                        <th scope="col" style="text-align: center"> Lucro Total</th> 
                    </tr>
                    <tr style="text-align:center">
                        <td style="color:lawngreen">R$@lucro_total</td>
                    </tr>
                }
                else
                {
                    <tr>Nenhum carro foi vendido</tr>
                }

            }

        </tbody>

    </table>

    <table class="table table-dark table-hover pb-5" style="width:75%">
        <header class="titulo_tabela">
            <span>Venda Funcionários</span>
            <hr />
        </header>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Total de Vendas</th>
                <th scope="col">Total Faturado</th>
            </tr>
        </thead>
        <tbody>
            @{
                var listaFuncionarios = new List<List<string>>();
                
                i = 1;
                var j = 0;
                if (ViewBag.Vendas != null){

                @foreach (var venda in ViewBag.Vendas)
                {
                    var funcionario = new List<string>();
                        for (var k = 0; k < 3; k++)
                        {
                            funcionario.Add("");
                        }
                    listaFuncionarios.Add(funcionario);
                    var nomeCompleto = venda.Funcionario.PrimeiroNome + " " + venda.Funcionario.Sobrenome;
                    decimal total_faturado = 0;
                    funcionario[0] = nomeCompleto;
                    funcionario[1] = (funcionario[1] + 1).ToString();
                        foreach(var carro in ViewBag.Carros)
                        {
                            if(carro.VendaId == venda.Id)
                            {
                                total_faturado = total_faturado + (carro.PrecoVenda - carro.PrecoCusto);
                            }
                        }
                    funcionario[2] = (funcionario[2] + total_faturado).ToString();
                    listaFuncionarios[venda.FuncionarioId-1] = funcionario;
                    
                    
                    }
                    @foreach(var funcionario in listaFuncionarios)
                    {
                        i++;
                        <tr>
                            <th scope="row">@i</th>
                            <td>@funcionario[0]</td>
                            <td>@funcionario[1]</td>
                            <td style ="color:lawngreen">R$@funcionario[2]</td>
                        </tr>
                        j++;
                    }
                }
                else
                {
                    <tr>Nenhuma venda foi realizada</tr>
                }
            }
            
            </tbody>

        </table>


</div>


