
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="financeiro.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <style>

        section > header{
            font-size: 40px;
            display:flex;
            justify-content: center;
            background-color: #003366;
            color: #FFFFFF;
            max-width: 100%;
            margin: 0;
        }



        body {
            background-color: #aaaaaa;
        }

        table{
           table-layout:fixed;
        }

        section {
            font-family: 'Lato', sans-serif;
            width: 1600px;
        }

        .secaoBranca{
            margin-top: 100px;
        }

        .tabelas{
            font-size: 20px;
            background: #003366;
            padding: 1em;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: center;
            color: #FFFFFF;
        }

        .espaco{
            padding-left: 50px;
        }

        .conteudo {
            color: #FFFFFF;
            background: #003366;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: center;
        }

        .linha{
            background-color: black;
            padding-bottom: 1px;
        }

        .botao {
            background: transparent;
            color: #ffa500;
            border: 0;
            font-size: 15px;
            justify-self: center;    
        }

        .titulo_tabela {
            font-size: 25px;
            display: 1;
            justify-self:center;
            background-color: #003366;
            color: #FFFFFF;
            width: 100%;
        }



    </style>
</head>

<section>
    <header >
            <span>Financeiro</span>
    </header>

    <div class="secaoBranca"></div>


        <table class="table table-dark">
            <header class="titulo_tabela">
                <span>Vendas</span>
            </header>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Carro</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Valor</th>
                    <th scope="col">
                    @using (Html.BeginForm("Index", "Financeiro", FormMethod.Get))
                    {
                        @Html.DropDownList("dataSelecionada", ViewData["data"] as SelectList, "Selecione uma data", new {@class = "form-control", onchange = "this.form.submit();"})
                    }

                          
                    </th>
                </tr>
            </thead>
        <tbody>
            @{
                var i = 0;
                if (ViewBag.Carros != null)
                {
                    @foreach(var obj in ViewBag.Carros){
                             @if (obj.VendaId != null){
                        i++;

                             var nomeCliente = obj.Venda.Cliente.PrimeiroNome + " " + obj.Venda.Cliente.Sobrenome ;                                             
                        <tr>
                                      <th scope="row" >@i</th>                         
                                      <td>@obj.Modelo.Nome</td>
                                      <td>@obj.Modelo.Marca</td>
                                      <td>@nomeCliente</td>                           
                                      <td style="color:lawngreen">R$@obj.PrecoVenda</td>
                                      <td>@obj.Venda.Data</td>
                                <!--<td><button class="botao"><i class="bi bi-plus-circle"></i></button></td>-->
                                  </tr>
                      
                                  }                          
                    }
                }
                else
                {
                    <tr>Nenhum carro foi vendido</tr>
                }

                    }
                  
            
            </tbody>            
        </table>

        <table class="table table-dark">
            <header class="titulo_tabela">
                <span>Lucro</span>
            </header>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Custo</th>
                    <th scope="col">Valor da Venda</th>
                    <th scope="col">Lucro</th>
                </tr>
            </thead>
        <tbody>
            @{
                i = 0;
                if (ViewBag.Carros != null)
                {
                    @foreach (var obj in ViewBag.Carros)
                    {
                        @if (obj.VendaId != null)
                        {
                      
                          i++;
                        var lucro = obj.PrecoVenda - @obj.PrecoCusto;
                            <tr>
                              <th scope="row">@i</th>
                                  <td>R$@obj.PrecoCusto</td>
                                  <td>R$@obj.PrecoVenda</td>
                                  <td style="color:lawngreen">R$@lucro</td>
                            </tr>
                        
                        }                    
                    }
                }
                else
                {
                    <tr>Nenhum carro foi vendido</tr>
                }
                
                }
                
                
            </tbody>

        </table>

        <table class="table table-dark">
            <header class="titulo_tabela">
                <span>Lucro Total</span>
            </header>
            <thead>
                <tr>
                    <th scope="col">Lucro</th>
                </tr>
            </thead>
            <tbody>
            @{
                i = 0;
                decimal lucroSemestral = 0;
                if (ViewBag.Carros != null)
                {
                    @foreach (var obj in ViewBag.Carros)
                {
                    @if (obj.VendaId != null)
                    {
                       var lucro = obj.PrecoVenda - @obj.PrecoCusto;
                        lucroSemestral = lucroSemestral + lucro;                 
                        if (ViewBag.Carros.IndexOf(obj) == ViewBag.Carros.Count - 1)
                        {
                          i++;
                          <tr style="justify-content: center">
                            <td style="color:lawngreen">R$@lucroSemestral</td>
                          </tr>   
                        }
                        }              
                    }
                }
                else
                {
                    <tr>Nenhum carro foi vendido</tr>
                }
                
            }
            
            
            </tbody>

        </table>

        <table class="table table-dark">
            <header class="titulo_tabela">
                <span>Venda Funcionários</span>
            </header>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Total_Venda</th>
                    <th scope="col">Total_Faturado</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var obj in ViewBag.Funcionarios)
                {
                    var nomeCompleto = obj.PrimeiroNome + obj.Sobrenome;
                   <tr>
                    <th scope="row">1</th>
                    <td>@nomeCompleto</td>
                    <td>20</td>
                    <td>200000</td>
                </tr> 
                } *@
            
            </tbody>

        </table>

</section>
  


