@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div class="container">


    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Clientes</h1>
        <a class="btn btn-success mx-2" asp-controller="Cliente" asp-action="Cadastrar">Cadastrar novo cliente</a>
    </div>


    <table id="Clientes" class="table table-dark table-hover mt-5">
        <thead>
            <tr>
                <th></th>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>



        @if(Model != null)
        {

            @foreach(var cliente in Model)
            {
                    <tr>
                    <td></td>
                    <td>@cliente.Id</td>
                    <td>@cliente.PrimeiroNome</td>
                    <td>@cliente.Sobrenome</td>
                    <td>@cliente.Email</td>
                    <td>
                        <a class="btn btn-warning mx-2" asp-controller="Cliente" asp-action="Editar" asp-route-id="@cliente.Id"><i class="bi bi-pencil-square"></i>Editar</a>
                    </td>
                </tr>
            }
            
        }
        







    </tbody>
</table>

</div>