@model IEnumerable<JitCars.Models.Funcionario>
@{
    ViewData["Title"] = "Funcionários";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Funcionários</h1>
        <div>
            <a class="btn btn-success mx-2" asp-controller="Funcionario" asp-action="Registrar">Cadastrar novo funcionário</a>
            <a class="btn btn-info mx-2" asp-controller="Cargo" asp-action="Index">Cargos</a>
        </div>
    </div>

   

    <table id="Funcionarios" class="table table-dark table-hover mt-5" 
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">CPF</th>
                <th scope="col">Cargo</th>
                <th scope="col">Endereço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var funcionario in Model)
            {
                <tr>
                    <td>@funcionario.PrimeiroNome</td>
                    <td>@funcionario.Sobrenome</td>
                    <td>@funcionario.Cpf</td>
                    <td>@funcionario.Cargo.Titulo</td>
                    <td>@funcionario.Endereco.Rua, @funcionario.Endereco.Numero - @funcionario.Endereco.Cidade, @funcionario.Endereco.Estado</td>
                    <td>
                        <a class="btn btn-warning mx-2" asp-controller="Funcionario" asp-action="Atualizar" asp-route-id="@funcionario.Id"><i class="bi bi-pencil-square"></i> Atualizar</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>